body {
    font-family: sans-serif;
}

.grid {
    width: 400px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    background-color: rgba(163, 182, 164, 0.2)
}

img:hover {
    cursor: pointer;
}

div h2 {
    text-align: center;
    padding: 15px;
    text-transform: uppercase;

}

.hide {
    visibility: hidden;
}

.blur {
    filter: blur(10px);
}

button {
    position: relative;
    left: 550px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: rgba(31, 31, 31, 0.3);
    text-transform: uppercase;
}

button:hover {

    background-color: red;
    color: white;
    cursor: pointer;

}